/*::::::::::::::: GLOBAL STYLES :::::::::::::::*/
body {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

/*::::::::::::::: COMMON :::::::::::::::*/


/*::::::::::::::: NAVIGATION BAR :::::::::::::::*/
nav {
    margin-bottom: 40px;
}

nav li {
    margin-right: 10px;
}

/*::::::::::::::: EXPLORE PAGE :::::::::::::::*/
