/*::::::::::::::: GLOBAL STYLES :::::::::::::::*/
body {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

/*::::::::::::::: COMMON :::::::::::::::*/
.page-title {
    margin-bottom:30px;
}

/*::::::::::::::: NAVIGATION BAR :::::::::::::::*/
nav {
    margin-bottom: 40px;
}

nav li {
    margin-right: 10px;
}

/*::::::::::::::: EXPLORE PAGE :::::::::::::::*/
.explore-user-item {
    text-align:center;
    transition: 0.5s opacity;
}

.explore-user-item:hover {
    opacity: 0.8;
}

.explore-user-item a {
    text-decoration: none;
}

.explore-user-name {
    line-height:3;
}