/*::::::::::::::: GLOBAL STYLES :::::::::::::::*/
body {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

/*::::::::::::::: COMMON :::::::::::::::*/
.page-title {
    margin-bottom:30px;
}

/*::::::::::::::: NAVIGATION BAR :::::::::::::::*/
nav {
    margin-bottom: 40px;
}

nav li {
    margin-right: 10px;
}

/*::::::::::::::: USERS PAGE :::::::::::::::*/
.explore-user-item {
    text-align:center;
    transition: 0.5s opacity;
}

.explore-user-item:hover {
    opacity: 0.8;
}

.explore-user-item a {
    text-decoration: none;
}

.explore-user-name {
    line-height:3;
}

.users-profile-container {
    display: flex;
}

.users-profile-container > .page-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.users-profile-thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/*::::::::::::::: PROFILE "Details" PAGE :::::::::::::::*/
.profile-details-image {
    max-width: 250px;
    max-height: 250px;
}