@model SocialApp.Models.IndexViewModel
@{
    ViewBag.Title = "Set Profile";
}

<h2>@ViewBag.Title</h2>
<hr/>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container">
    <button type="button" class="btn btn-primary btn-lg btn-block">Set Profile Information</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Change Photo</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Change Password</button>

    <div class="row">
        <h5>Profile:</h5>
        <div class="ml-2">
            [@Html.ActionLink("Change Profile Information", "ChangePassword")]
        </div>
    </div>
    <br />
    <div class="row">
        <h5>Password:</h5>
        <div class="ml-2">
            [@Html.ActionLink("Change your password", "ChangePassword")]
        </div>
    </div>

    @using (Html.BeginForm("SetProfile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Photo</legend>
            <div class="editor-label">
                <label for="profile">FileName:</label>
            </div>
            <div class="editor-field">
                <input name="Profile" id="profile" type="file" />
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
</div>
