@using Microsoft.AspNet.Identity
@model SocialApp.ViewModels.ExploreViewModel

@{
    ViewBag.Title = "Explore";
}

<h3>@ViewBag.Message</h3>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">

    @foreach (var user in Model.Users)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="@Url.Action("Photo", "Explore" , new { UserId=user.Id })" />
                <div class="card-body">
                    <a href="/Explore/Details/@user.Id">
                        <h5 class="card-title">
                            @user.Firstname
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
