@using Microsoft.AspNet.Identity
@model SocialApp.ViewModels.ExploreViewModel

@{
    ViewBag.Title = "Explore";
}

<h3 class="page-title">Meet new people</h3>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    @foreach (var user in Model.Users)
    {
        <div class="explore-user-item col mb-3">
            <a class="text-dark" href="/Explore/Details/@user.Id">
                <img class="card-img-top" src="@Url.Action("Photo", "Explore" , new { UserId=user.Id })" />
                <h6 class="explore-user-name">@user.Firstname @user.Lastname</h6>
            </a>
        </div>
    }
</div>
