@using Microsoft.AspNet.Identity
@model SocialApp.ViewModels.ExploreViewModel

@{
    ViewBag.Title = "Explore";
}

<h3>@ViewBag.Message</h3>

<div class="row">
    @foreach (var user in Model.Users)
    {
        <div class="col-md-4">
            <a href="/Explore/Details/@user.Id"><h2>@user.Firstname</h2></a>
        </div>
    }
</div>