<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

         @Html.ActionLink("SocialMeet", "Index", "Explore", new { area = "" }, new { @class = "navbar-brand mb-0 mr-4 h1" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Explore", "Index", "Explore")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>