<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        @Html.ActionLink("Application name", "Index", "Explore", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Explore", "Index", "Explore")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>