@using Microsoft.AspNet.Identity
@model SocialApp.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<h3>@ViewBag.Message</h3>



<div class="row">
    @foreach (var user in Model.Users)
    {
        //if (user. = User.Identity.Name)
        <div class="col-md-4">
            <h2>@user.Firstname</h2>
        </div>
    }
</div>